/*Main style secton*/

body{
  margin: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

h1{
  text-transform: capitalize; /*tittle block transformation*/
  text-transform: bold;
  font-size: 78px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 10px;
  padding: 0 0 0 0;
  font-family: 'Oswald', sans-serif;
}
.container{
  display:grid;
  grid-template-columns: 1fr;
}
.nav-wrapper {   /*Move text to upper side of web page */
  display: flex;
  justify-content: space-between;
  padding: 38px;
}
.left-side{
  display: flex;
}
.nav-wrapper > .left-side > div{
  margin-right: 20px;
  font-size: 1.2em;
  text-transform: uppercase;
}
.nav-link-wrapper{
  height:22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}
.nav-link-wrapper a{
  color: rgb(149, 136, 136);
  text-decoration: none;
  transition: 0.5s;
}

.nav-link-wrapper:hover{
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
  border-bottom: black;
}
.contact{
  color: red;/*Contact info styling*/
  font-size: 55;
  font-style: italic;
}




.background-image{ /*Background image formating to fit page*/
  background-image:url(-4999883997995922761.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;

}
.para-text{
  font-size: 15px;
  color: red;/*Contact info styling*/
  font-size: 55;
}
.pricing-txt{
  color:blue;
}

.about-tittle{
  color: green;
  text-: bold;
}
